.external-css {
    color: darkcyan;
    background-color: purple;
}

body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica
}

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40));
}

h1 {
    color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
}

h3 {
    color: salmon;
    font-size: 1.15em;
    margin-bottom: 1em;
}

p {
    font-size: 16px;
    color: #7f8c8d;
    margin-bottom: 12px;
}

p a {
    color: #f39c12;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 12px;
}

ul li {
    margin-bottom: 5px;
}

div ul {
    list-style-type: square;
}

.feature-card {
    border: 2px solid #7f8c8d;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.feature-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.feature-card p {
    margin-bottom: 10px;
    color: #7f8c8d;
}

#special-feature {
    background-color: #fde3a7;
    border-color: #f39c12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    color: yellow;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #00FFFF;
    transition: all 0.3s ease;
}

a:hover {
    background-color: green;
    color: white;
    border: 3px solid yellow;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #ecf0f1;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: red;
}

.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img30 {
    height: auto;
    width: 30%;
}
.img40 {
    height: auto;
    width: 40%;
}
.img49_5 {
    height: auto;
    width: 49.5%;
}
.img50 {
    height: auto;
    width: 50%;
}

.img50Poster {
    height: auto;
    width: 50%;
}

.img100 {
    height: auto;
    width: 100%
}

.ImageBackground {
    background-color: darkcyan;
}

.VideoBorder {
    border: 3px solid red;
}

.BorderedTextDashed {
    border: 10px dashed greenyellow;
}

.BorderedTextRounded {
    border: 10px solid red;
    border-radius: 50%;
}

.GreenBorderedTextRounded {
    border: 5px solid green;
    border-radius: 50%;
}

.TableDesign {
    border: 5px ridge red;
    color: greenyellow;
    width: 100%;
    text-align: center;      
    font-size: 1em;
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

.GreenYellowFont {
    color: greenyellow;
}

.br {
    content: "\A";
    white-space: pre;
}

#footer {
    color: pink;
    font-weight: bold;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: auto;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.25);
}

.h2Underline {
    text-decoration: underline;
}

.ImageGap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.MiniImageBackground {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.5);
    position: fixed;
    z-index: -1;
    overflow: auto;
}

.YouTubeWindow {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.iframeSize {
    width: 30%;
    max-width: 640px;
    height: 360px;
    border: 0px;
}

.SmallBottomPadding {
    padding-bottom: 5px;
}

.SmallTopPadding {
    padding-top: 10px;
}

.BottomPadding {
    padding-bottom: 20px;
}

.BulletUnorderedList {
    list-style-type: disc;
    color: plum;
    font-size: 1.15em;
    margin-bottom: 1em;
}

.NoBorder {
    border: 0px;
}

.BrightnessText80 {
    filter: brightness(0.8);
}

.ThinBorder {
    border: 1px solid;color: plum;
}