body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica
}

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40));
}

h1 {
    color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
}

h3 {
    color: salmon;
    font-size: 1.15em;
    margin-bottom: 1em;
}
ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 12px;
}

ul li {
    margin-bottom: 5px;
}

a {
    display: inline-block;
    color: yellow;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #00FFFF;
    transition: all 0.3s ease;
}

a:hover {
    background-color: green;
    color: white;
    border: 3px solid yellow;
}

.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img30 {
    height: auto;
    width: 30%;
}

.img100 {
    height: auto;
    width: 100%
}

.BorderedTextDashed {
    border: 10px dashed greenyellow;
}

.BorderedTextRounded {
    border: 10px solid red;
    border-radius: 50%;
}

.GreenBorderedTextRounded {
    border: 5px solid green;
    border-radius: 50%;
}

.TableDesign {
    border: 5px ridge red;
    color: greenyellow;
    width: 100%;
    text-align: center;      
    font-size: 1em;
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

.GreenYellowFont {
    color: greenyellow;
}

#footer {
    color: pink;
    font-weight: bold;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: auto;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.25);
}

.h2Underline {
    text-decoration: underline;
}

.ImageGap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.MiniImageBackground {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.5);
    position: fixed;
    z-index: -1;
    overflow: auto;
}

.iframeSize {
    width: 30%;
    max-width: 640px;
    height: 360px;
    border: 0px;
}

.SmallBottomPadding {
    padding-bottom: 5px;
}

.SmallTopPadding {
    padding-top: 10px;
}

.BottomPadding {
    padding-bottom: 20px;
}

.BulletUnorderedList {
    list-style-type: disc;
    color: plum;
    font-size: 1.15em;
    margin-bottom: 1em;
}

.BrightnessText80 {
    filter: brightness(0.8);
}

.ThinBorder {
    border: 1px solid;color: plum;
}